# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.Rproj.user
.Rhistory
diffpop.Rproj
**/tree_files/*
**/graph_files/*
**/output/*
**/example/*
system*.csv
**/README_cache/
*.Rproj

# R project files
*.Rproj
*.Rdata
*.RData
*.Rbuildignore
# Other
.DS_Store
custom_rates/*
.vscode
estipop.code-workspace
config.log
config.status
